@model IEnumerable<TicketsJO.Models.StatutEvent>

@{
    ViewData["Title"] = "Statut évenement";
}

<div class="text-center text-primery">
    <h1 class="display-6">Jeux Olympiques 2024</h1>
</div>


<div class="text-start display8 text-danger">
    <h4 class="display-6">Liste des statut événement</h4>
</div>

<p>
    <a asp-action="Create" class="btn btn-outline-primary btn-lg px-4 me-md-2 fw-bold">Ajouter</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.Id">Modifier</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                    <a class="btn btn-outline-success" asp-action="Details" asp-route-id="@item.Id">Détails</a>

            </td>
        </tr>
}
    </tbody>
</table>
