@model TicketsJO.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Panier";
}

<div id="update-message">
</div>

<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
        integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
        crossorigin="anonymous">
</script>
<script>
    $(document).ready(function () {
        $(".RemoveLink").click(function (e) {
            e.preventDefault();
            var recordId = $(this).data("id");
            $.ajax({
                url: '/ShoppingCart/RemoveFromCart',
                type: 'POST',
                data: { id: recordId },
                success: function (response) {
                    $("#row-" + recordId).fadeOut('slow', function () {
                        $(this).remove();
                    });
                    $("#cart-total").text(response.cartTotal + " €");
                    $("#item-count-" + recordId).text(response.itemCount);
                    $("#update-message").html("<div class='alert alert-success'>" + response.message + "</div>");
                    $("#cart-count").text(response.cartCount);
                    $("#cart-summary").text(response.cartTotal + " €")
                },
                error: function () {
                    $("#update-message").html("<div class='alert alert-danger'>Erreur lors de la suppression de l'élément.</div>");
                }
            });
        });
    });
</script>

<div class="container mt-4">
    <h3 class="text-center mb-4">Détail réservation </h3>
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Évènement</th>
                <th scope="col">Description</th>
                <th scope="col">Offre</th>
                <th scope="col">Prix (unité)</th>
                <th scope="col">Quantité</th>
                <th scope="col" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr id="row-@item.RecordId">
                    @if (item.Offre != null)
                    {
                        <td>@item.Offre.Events.Name</td>
                        <td>@item.Offre.Events.Description</td>
                        <td>@item.Offre.Titre</td>
                        <td>@item.Offre.Prix €</td>
                        <td id="item-count-@item.RecordId">@item.Quantity</td>
                        <td class="text-center">
                            <a href="#" class="btn btn-primary" data-id="@item.RecordId">Supprimer</a>
                        </td>
                    }
                    else
                    {
                        <td colspan="6" class="text-center text-danger">Offre non trouvée</td> <!-- Message d'erreur en cas d'Offre null -->
                    }
                </tr>
            }
            <tr class="table-dark">
                <td colspan="3" class="text-right text-white"><strong>Total</strong></td>
                <td colspan="2" id="cart-total">@Model.CartTotal €</td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <div class="text-center my-4">
        <a href="@Url.Action("ValidationEtPaiement", "Validation")" class="btn btn-primary">Payer </a>
    </div>
</div>