@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<TicketsJO.Models.Event>

@inject IEnumerable<TicketsJO.Models.Discipline> ListeDisciplines


@{
    ViewData["Title"] = "Evenements";
}

<div class="text-start">
    <button id="toggleSearch" class="btn btn-outline-dark "> Rechercher</button>
    <div id="searchForm" style="display: none;">
        <form asp-action="Index" method="get">
            <div class="row">
                <div class="col-md-4 mb-3">
                   @*  <label for="date" class="form-label">Date</label> *@
                    <input id="date" name="date" type="date" class="form-control" />
                </div>
            </div>
        </form>
    </div>
</div>


<div class="mb-3">
    <div class="p-8 text-center bg-body-tertiary" style="background-image: url('images/Paris2024.png'); background-size: contain; background-position: top; height: 300px; width: 100%">
        <div class="container pt-10">
            <h1> Tickets des Jeux Olympiques Paris 2024</h1>            
        </div>
    </div>
</div>



@if (User !=null)
{

@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin")))
{
    <p>
        <a asp-action="Create" class="btn btn-outline-primary btn-lg px-4 me-md-2 fw-bold">
            <i class="bi bi-plus-circle me-2"></i>Ajouter un évènement
        </a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateEvent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdresseEvent)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Capacite)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                        @(item.DateEvent.HasValue ? item.DateEvent.Value.ToString("dd MMM yyyy, HH:mm") : "Date non spécifiée")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdresseEvent)
                </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Capacite)
                    </td>
                <td>
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Modifier</a>
                        <a class="btn btn-outline-primary" asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                        <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">Ticket</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
}

}


@foreach (var item in Model) {
    <div class="row mb-2">
        <div class="row-md-4">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h2 class="mb-0"> @Html.DisplayFor(modelItem => item.Name)  </h2>

                    <p class="card-text mb-auto">
                        <br /> @Html.DisplayFor(modelItem => item.Description)
                        <br />
                        <br />
                    </p>

                    <div class="mb-1 text-body-secondary"> @(item.DateEvent.HasValue ? item.DateEvent.Value.ToString("dd MMM yyyy, HH:mm") : "Date non spécifiée")</div>
                    <p class="card-text mb-auto">@Html.DisplayFor(modelItem => item.AdresseEvent)</p>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="images/JeuxParis.png" width="120%" height="300" />
                </div>
            </div>

            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden text-center pb-3">
                <a class="btn btn-outline-primary btn-lg px-4 me-md-2 fw-bold" asp-action="Details" asp-route-id="@item.Id">Réserver</a>
            </div>
        </div>
</div>
}





