@using Microsoft.AspNetCore.Identity
@using TicketsJO.Data;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model TicketsJO.Models.Offre

@{
    ViewData["Title"] = "Détails de l'Offre";
}

<div class="container mt-5">
    <h1 class="text-center">@Html.DisplayFor(model => model.Titre)</h1>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <h4>Détails de l'Offre</h4>
            <dl class="row">
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Titre)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Titre)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Description)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Description)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Place)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Place)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Prix)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Prix) €</dd>
            </dl>
        </div>
    </div>

    <div class="col-md-6">
        <h4>Détails de l'Événement</h4>
        @if (Model.Events != null)

        {
            <div class="event-details border p-3 rounded bg-light">
                <strong>@Html.DisplayFor(model => model.Events.Name)</strong><br />
                <em>@Html.DisplayFor(model => model.Events.Description)</em><br />
                @if (Model.Events.DateEvent.HasValue)

                {
                    <span>le @Model.Events.DateEvent.Value.ToString("dd/MM/yyyy")</span>
                }<br />
                <span>à @Html.DisplayFor(model => model.Events.AdresseEvent)</span>
            </div>
        }

        else

        {
            <div class="alert alert-warning" role="alert">
                Aucun événement associé à cette offre.
            </div>
        }
    </div>

    <div class="mt-4 text-center">
        @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin")))

        {
            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.OffreID">Modifier</a>
        }
        <a asp-action="Index" class="btn btn-primary">Retour au menu</a>
    </div>
</div>
