@using Microsoft.AspNetCore.Identity
@using TicketsJO.Data;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model IEnumerable<TicketsJO.Models.Offre>

@{
    ViewData["Title"] = "Liste des offres";
}

<h1>Retrouvez la liste des offres créées</h1>

<table class="table table-striped table-responsive">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th scope="col">
                Détails de l'événement
            </th>
            <th scope="col">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)

        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place) €
                </td>
                <td>
                    <div class="event-details">
                        <strong>@Html.DisplayFor(modelItem => item.Events.Name)</strong><br />
                        <em>@Html.DisplayFor(modelItem => item.Events.Description)</em><br />
                        <span>@(item.Events.DateEvent.HasValue ? item.Events.DateEvent.Value.ToString("dd/MM/yyyy") : "Date non mentionnée")</span><br />
                        <span>à @Html.DisplayFor(modelItem => item.Events.AdresseEvent)</span>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-between">
                        @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin")))

                        {
                            <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.OffreID">Modifier</a>
                            <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.OffreID">Supprimer</a>
                        }
                        <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.OffreID">Détail du Ticket</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>



@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin")))

{
    <p>
        <a asp-action="Create" class="btn btn-outline-primary btn-lg px-4 me-md-2 fw-bold">
            <i class="bi bi-plus-circle me-2"></i>Créer une offre
        </a>
    </p>
}




