@model IEnumerable<TicketsJO.Models.Offre>

@{
    ViewBag.Title = "OffresClientView";

}


@if (ViewBag.displayMenu == "Yes")
{
<div class="contentBtnOffre">
    <button class="btn">@Html.ActionLink("Ajouter une offre", "index", "Offres")</button>
</div>
<div class="contentBtnOffre">
    <button class="btn">@Html.ActionLink("Statistique", "Statistique", "Offres")</button>
</div>
}



<section class="backOffres">

    @foreach (var item in Model)
    {
        <div class="uneOffre">
            <img class="imgOffre" src="~/Content/Formule/@item.Photo" />
            <div class="libellé">
                <h2 class="titreOffre">@item.TypeOffre</h2>
                <p class="paraOffre">@item.Description</p>
                <div class="contentBtnOffre">
                    <div class="prix">@item.Prix €</div>
                    @Html.ActionLink("Je fonce", "Details", "Panier", new { idOffre = item.OffreID }, new { @class = "btn btnBay" })
                </div>
            </div>
        </div>
    }
</section>




